<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.navi.mvc.mapper.DeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="Dept">
        <id column="deptno" property="deptno" />
        <result column="dname" property="dname" />
        <result column="loc" property="loc" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        deptno, dname, loc
    </sql>

    <select id="selectByNo" resultType="com.navi.mvc.entity.Dept">
        select * from dept where deptno = #{no};
    </select>

</mapper>
